<!--
This file is part of the EEG-database project

  ==========================================
 
  Copyright (C) 2013 by University of West Bohemia (http://www.zcu.cz/en/)
 
 ***********************************************************************************************************************
 
  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
  the License. You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
  an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
 
 ***********************************************************************************************************************
 
  ResearchGroupManagementForm.html, 2013/10/02 00:01 Jakub Rinkes
-->
<wicket:panel>
	<form class="standardForm" wicket:id="form">
        <fieldset>

          <div class="checkBox">
            <label wicket:id="paidAccount.label"/>
            <input type="checkbox" class="checkBoxBox" wicket:id="paidAccount"/>
			<div wicket:id="paidAccount.feedback"></div>
          </div>

          <div class="itemBox">
            <input type="submit" wicket:id="submitButton" class="submitButton lightButtonLink" />
			<input type="submit" wicket:id="cancelButton" class="submitButton lightButtonLink" />
          </div>
        </fieldset>
      </form>
</wicket:panel>
